#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label= "DEFAULT";
            bindings = <
                          &kp P       &kp I         &kp S
                          &kp T     &kp U    &kp K
            &kp C_MUTE    &kp I     &lt LOWER M  &kp EXCL
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        lower_layer {
            label = "LOWER";
            bindings = <
                          &bt BT_PRV      &bt BT_CLR        &bt BT_NXT
                          &sys_reset      &none             &bootloader
             &none        &none           &none             &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
